.header {
    position: relative;
    height: 760px;
}

.header__background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.header__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.header__heading-logo {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 38px; top: 26px;
}

.header__menu {
    display: flex;
    align-items: center;
    position: fixed;
    right: 38px; top: 26px;
    cursor: grab;
    height: 42px;
    background-color: #000;
    padding: 10px 14px;
    z-index: 1;
}

.header__menu:hover .header__menu-text {
    color: #fff;
}   

.header__menu-text {
    line-height: 96px;
    font-size: 1.3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.header__menu-icon {
    color: #fff;
    font-size: 2.4rem;
    transform: translateY(-1px);
    margin-left: 12px;
}

/* NAVIGATION */
.header__nav {
    background-color: #000;
    width: 280px;
    height: 100vh;
    padding: 36px;
    z-index: 1;
    position: fixed;
    top: 0; right: 0;
    transition: all ease-in-out .5s;
    transform: translateX(100%);
}

.header__nav-container {
    opacity: 0;
    transform: translateX(100%);    
    transition: all ease-in-out 1s;
}

.open {
    opacity: 1;
    transform: translateX(0);
}

.header__nav-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-title {    
    color: var(--primary-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.header__nav-esc-icon {
    color: #FFF;
    font-size: 1.4rem;
    padding: 8px;
    cursor: grab;
}   

.header__nav-list {
    margin-top: 60px;
}

.header__nav-item-link {
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    cursor: grab;
}

.header__nav-item-link:hover {
    color: var(--primary-color);
}

.header__nav-desc {
    font-size: 1.3rem;
    color: rgb(254 254 254 / 34%);
    line-height: 2.4rem;
    margin-top: 22px;
}

.header__nav-desc a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s ease-in-out;
}

.header__nav-desc a:hover { color: #fff; }

.header__nav-socials-list {
    display: flex;
    margin-top: 40px;
}

.header__nav-social-item {
    margin-right: 8px;
}

.header__nav-social-item:hover .header__nav-social-link {
    color: #fff
}

.header__nav-social-link {
    color: rgb(254 254 254 / 34%);
    transition: all 0.5s ease-in-out;
}

.header__nav-social-icon {
    font-size: 2rem;
    padding: 2px;
}

/* HEADER BODY */
.header__body {
    position: absolute;
    background-color: transparent;
    top: 50%; left: 128px; right: 40px;
    transform: translateY(-50%);
}

.header__slogan-socials {
    display: flex;
}

.header__slogan {
    --translateY: 100px;
    flex: 1;
    animation: up ease-in-out 1s;
}

.header__slogan-welcom {    
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 4px;
}

.header__slogan-text {
    color: #fff;
    font-size: 60px;
    line-height: 7rem;
    margin-top: 20px;
    padding-right: 0;
}

.header__socials-list {
    width: 134px;
}

.header__socials-item {
    padding: 10px 0;
}

.header__socials-item-link {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-decoration: none;
}

.header__socials-item-icon-wrap {
    border: 2px solid rgb(255 255 255);
    border-radius: 50%;
    padding: 16px;
    margin-left: 8px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.header__socials-item-icon {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}

.header__socials-item:hover .header__socials-item-name {
    display: block;
}

.header__socials-item-name {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    transform-origin: right;
    display: none;
    letter-spacing: 1px;
    animation: appear ease-in-out 0.5s;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.header__btns {
    margin-top: 110px;
    --translateY: 100px;
    animation: up ease-in-out 1s;
}

.header__btn {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-weight: 600;
    border: 2px solid #fff;
    padding: 20px 30px;
    margin-right: 20px;
    transition: all ease-in-out .5s;
}

.header__btn:hover {
    background-color: #fff;
    color: #000;
}

.next-section {
    color: rgb(255 255 255);
    position: absolute;
    right: 10%; bottom: 17.6%;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    text-decoration: none;
}

.next-section::after {
    content: "";
    border: 1px solid var(--primary-color);
    height: 13.8rem;
    position: absolute;
    right: -30px;
    top: 8px;
}

.next-section::before {
    content: "";
    border: 1px solid #fff;
    height: 13.8rem;
    position: absolute;
    right: -30px;
    top: calc(13.8rem + 8px);
}

.next-section-icon {
    color: var(--primary-color);
    font-size: 1.6rem;
    transform: translateY(2px);
}